{% extends "base.html" %}
{% block content %}
<h1>Our Products</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Tag</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td><img src="{{ product['image_path'] }}" class="card-img-top" alt="{{ product['name'] }}" style="width: 250px; height: 200px;"></td>
            <td>{{ product['name'] }}</td>
            <td>{{ product['tag'] }}</td>
            <td>${{ product['price'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
